<h1>This is parent. and is working</h1>
<!-- {{ firstName }} : {{ myMarks }} : {{ getDetails() }} -->

<!-- Not work -->
<!-- {{data}} -->

<br />

<!-- {{studentList}} -->
<!-- structural directive -->

<!-- <ng-container *ngFor="let student of studentList; let i = index">
    {{i + 1}} {{ student.firstName }}: {{student.lastName}}:: {{student.marks}}
</ng-container> -->

<hr />
<!-- ngFor and ngIf demo -->
<div *ngFor="let student of studentList; let i = index">
  <!-- <div *ngIf="student.marks > 39">
        {{i + 1}} {{ student.firstName }}: {{student.lastName}}:: {{student.marks}}
    </div> -->
  <!-- <div *ngIf="student.marks < 40">
        {{i + 1}} {{ student.firstName }}: {{student.lastName}}:: {{student.marks}}
    </div> -->
</div>

<!-- ngStyle -->
<!-- <div *ngFor="let student of studentList; let i = index">
  <div
    [ngStyle]="{ background: student.marks >= 40 ? 'green' : 'red' }"
  >
    {{ i + 1 }} {{ student.firstName }}: {{ student.lastName }}::
    {{ student.marks }}
  </div>
</div> -->

<!-- ngClass -->
<div *ngFor="let student of studentList; let i = index">
  <div [ngClass]="{ 'pass': student.marks >= 40 ,  'fail': student.marks < 40 }">
    {{ i + 1 }} {{ student.firstName }}: {{ student.lastName }}::
    {{ student.marks }}
  </div>
</div>

<span *ngIf="product">
  {{ product.prodName }}
</span>

<hr />

<button (click)="buttonClicked()">Click to understand Service</button>
<hr>
<!-- interpolation -  data binding -->

<!-- in the parent component view pass the data to the input variable -->
<app-child [childFirstName]="firstName" (childDataEventEmitter)="childEvntEmitterListener($event)"></app-child>

<!-- 
Custom Dire
Forms
Routing
HTTP -->
