h1 {
    color: red;
}

.pass {
    color: green;
    background-color: greenyellow;
    padding: 10px;
    margin: 5px;
}

.fail {
    color: white;
    background: tomato;
    padding: 10px;
    margin: 5px;
}